.booking-conatiner{
    width: 100%;

    display: flex;
    flex-wrap: wrap;

    padding: 2rem 2rem 2rem 4rem; 
}

#booking-form-section {
    border-radius: 3rem;
    background: var(--bg-dash, #F7FAFC);

    line-height: normal;
    font-style: normal;
    font-family: Inter;

    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 2rem 6.5rem;
}

#booking-form-section  h2{
    border-bottom: 1px solid #000;

    font-size: 2rem;
    font-weight: 600;

    width: 100%;

    padding-bottom: .4rem;
}

#booking-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    padding-top: 1rem;

    width: 100%;
}

.form-inputs-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.form-inputs-content{
    display: flex;
    align-items: center;
    gap: 4rem;
}

.form-inputs-content .booking-input-group {
    width: 100%;
}



.booking-input-group{
    display: flex;
    flex-direction: column;
    align-items: baseline;
    gap: .8rem;
}

.booking-input-group label{
    padding-left: .8rem;
    font-family: Roboto;
    font-size: 1.4rem;
    font-weight: 400;
}

.booking-input-group input{
    border-radius: 1rem;
    border: 1px solid var(--Stroke-Input, #CBD5E0);
    background: #FFF;

    width: 100%;
    height: 4rem;

    padding-left: 1.6rem;
    padding-right: 1.6rem;

    outline: 0;
}

.booking-input-group textarea{
    border-radius: 1rem;
    border: 1px solid var(--Stroke-Input, #CBD5E0);
    background: var(--bg-icon-primary, #FFF);
    height: 15rem;
    align-self: stretch;

    resize: none;
    outline: 0;

    padding-left: 1.6rem;
    padding-top: .8rem;
}

.btn-container{
    width: 100%;
    height: 4rem;

    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

#submit-button{
    width: 22.5rem;
    height: 4rem;

    border-radius: 6px;
    background: var(--btn-color, #48BB78);
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: .4rem;

    color: var(--bg-icon-primary, #FFF);
    font-size: 1.6rem;
    font-weight: 500;
}

#submit-button:hover{
    background: #26DC72;
    transition: 500ms;
}
.formError{
    color: red;
}
    /* pag booking */
@media screen and (max-width: 912px) {
    .booking-conatiner{
        padding: 2rem;
        flex-direction: column;
        flex-wrap: nowrap;
    }

    footer{
        margin-bottom: 2rem;
    }

    #menu-main{
        margin-block: 2rem;    
    }

    #menu-navigation ul{
        flex-direction: row;
    }
}

@media screen and (max-width: 430px) {
    #booking-form-section{
        padding: 2rem;
    }

    .form-inputs-content{
        flex-direction: column;
        gap: 1.8rem;
    }

    #menu-navigation ul{
        flex-direction: column;
    }
}