#dashboard-section{
    border-radius: 3rem;
    background: var(--bg-dash, #F7FAFC);

    line-height: normal;
    font-style: normal;
    font-family: Inter;

    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 4rem 6.5rem;
}

#dashboard-section .warpper{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;

    width: 100%;
    height: 100%;
}

/*dashborad section header*/
#dashboard-section .warpper .dashboard-header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
}

#dashboard-section .warpper .dashboard-header .input-search{
    border-radius: 10px;
    border: 1px solid var(--Stroke-Input, #CBD5E0);
    background: var(--bg-icon-primary, #FFF);

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;

    width: 100%;
    height: 4rem;

    padding: 8px 16px;
}

#dashboard-section .warpper .dashboard-header .input-search i{
    font-size: 2rem;
}

#dashboard-section .warpper .dashboard-header .input-search input{
    width: 100%;
    height: 100%;

    outline: none;
    border: none;
}

#search-button{
    width: 20rem;
    height: 4rem;

    border-radius: 6px;
    background: var(--btn-color, #48BB78);
    border: none;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: .4rem;

    color: var(--bg-icon-primary, #FFF);
    font-size: 1.6rem;
    font-weight: 500;
}

#search-button:hover{
    background: #26DC72;
    transition: 300ms;
}

/* cards booking*/

#dashboard-section .warpper .booking-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 3.2rem;
}

#dashboard-section .warpper .booking-content .booking-warpper{
    display: flex;
    flex-direction: column;
    gap: 1.6rem;

    width: 100%;
    height: 100%;
}

#dashboard-section .warpper .booking-content{
    display: flex;
    align-items: center;
    justify-content: center;

    min-width: 26.8rem;
    padding: 1.6rem;

    border-radius: 1rem;
    background: var(--bg-icon-primary, #FFF);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#dashboard-section .warpper .booking-content:hover{
    transition: 300ms;
    background: rgba(43, 108, 176, 0.20);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset, 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#dashboard-section .warpper .booking-content .booking-warpper .title,
#dashboard-section .warpper .booking-content .booking-warpper .destination,
#dashboard-section .warpper .booking-content .booking-warpper .footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#dashboard-section .warpper .booking-content .booking-warpper .title span,
#dashboard-section .warpper .booking-content .booking-warpper .destination p,
#dashboard-section .warpper .booking-content .booking-warpper .footer span{
    color: var(--Text-Color, #1A202C);
    font-family: "Inter", serif;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
}

#dashboard-section .warpper .booking-content .booking-warpper .title p,
#dashboard-section .warpper .booking-content .booking-warpper .footer p{
    color: var(--text-primary, #3B3B3B);
    font-family: "Roboto", serif;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 200;
    line-height: normal;

    display: flex;
    align-items: center;
}

.booking-code{
    color: var(--text-primary, #3B3B3B);
    font-family: "Roboto", serif;
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
}

#dashboard-section .warpper .dashboard-header {
    gap: 2rem;
}

@media screen and (max-width: 912px) {
    .conatiner{
        padding: 2rem;
        flex-direction: column;
        flex-wrap: nowrap;
        gap: 2rem;
    }

    #dashboard-section{
        padding: 2rem;
    }
}

@media screen and (max-width: 430px) {
    #dashboard-section .warpper .dashboard-header {
        flex-direction: column;
        align-items: flex-start;
    }

    #search-button{
        display: none;
    }
}